<div class="card mt-4">
    <img
      src="./images (1).jpeg"
      class="card-img-top"
      alt="image-banner"
    />
    <div class="card-body">
      <h2 class="card-title text-center mt-4">
        <%=job.jobDesignation%> opportunity in <%=job.jobLocation%> at
        <%=job.companyName%>
      </h2>
      <div class="mt-4 button-actions">
        <a class="btn btn-warning col-2 text-start"> Actively Recruiting </a>
        <a class="px-2 btn btn-danger" href="/jobs/<%=job.id%>/update">Edit</a>
        <button class="px-2 btn btn-danger" onclick="deleteJob('<%=job.id%>')">
          Delete
        </button>
      </div>
  
      <div class="card-text mt-4">
        <h5><%=job.companyName%></h5>
        <p><%=job.jobCategory%> <span><%=job.jobDesignation%></span></p>
  
        <div class="job-details">
          <p><%=job.jobLocation%></p>
          <p><%=job.salary%></p>
          <p>Apply By : <%=job.applyBy%></p>
          <p>Number of openings: <%=job.numberOfOpenings%></p>
          <p>
            <%if(applicants) {%>
            <a href="/jobs/<%=job.id%>/applicants" class="btn btn-secondary"
              >Applicants : <%=applicants%>
            </a>
            <%} else {%>
            <a href="#" class="btn btn-secondary">Applicants : <%=applicants%></a>
            <%}%>
          </p>
        </div>
        <div class="skills">
          <%job.skillsReq.forEach((skill) => {%>
          <a class="btn btn-outline-primary"><%=skill%></a>
          <%})%>
        </div>
  
        <a
          class="btn btn-success mt-4"
          data-bs-toggle="modal"
          data-bs-target="#applyFormCenter"
          >Apply Now</a
        >
  
        <div
          class="modal fade"
          id="applyFormCenter"
          tabindex="-1"
          role="dialog"
          aria-labelledby="applyFormCenterTitle"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="applyFormCenterTitle">
                  apply in less than one min
                </h5>
                <button
                  type="button"
                  class="close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form
                  action="/apply/<%=job.id %>"
                  method="post"
                  enctype="multipart/form-data"
                >
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Name</span>
                    </div>
                    <input
                      type="text"
                      name="name"
                      id="name"
                      class="form-control"
                      placeholder="enter your name"
                      aria-label="enter your name"
                      aria-describedby="basic-addon1"
                    />
                  </div>
  
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon2"
                        >Email</span
                      >
                    </div>
                    <input
                      type="email"
                      name="email"
                      id="email"
                      class="form-control"
                      placeholder="enter your email"
                      aria-label="enter your email"
                      aria-describedby="basic-addon2"
                    />
                  </div>
  
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon3"
                        >Contact</span
                      >
                    </div>
                    <input
                      type="text"
                      name="contact"
                      id="contact"
                      class="form-control"
                      placeholder="enter your contact number"
                      aria-label="enter your contact number"
                      aria-describedby="basic-addon3"
                    />
                  </div>
  
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon4"
                        >Resume</span
                      >
                    </div>
                    <input
                      type="file"
                      name="resume"
                      id="resume"
                      class="form-control"
                      aria-describedby="basic-addon4"
                      accept=".pdf, .docx, .doc"
                    />
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>